@import 'node_modules/bootstrap/scss/bootstrap';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/src/assets/background-hd.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}